.ui.styled.accordion,
.ui.styled.accordion .accordion {
    box-shadow: -1px 0px 0rem 0 rgba(34, 36, 38, .5);
}

.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title {
    margin: 0.3rem 0rem;
    padding: 0rem 0rem;
}

.ui.styled.accordion .accordion .content,
.ui.styled.accordion .content {
    margin: 0.5rem 1.5rem;
    padding: 0rem 0rem;
}

.ui.accordion .accordion {
	margin: 0.4rem 0;
}