body {
	background: rgb(0, 55, 80);
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8rem;
}

.ui.segment, .ui.segments .segment {
	font-size: 0.85rem;
}

.ui.styled.accordion.noborder, .noborder {
    border-style: none;
    box-shadow: unset;
}

.ui.header.center, .ui.segment.center, *.center {
    width: 800px;
    max-width: 98%;
	 margin: auto;
}

.ui.label {
	padding: .3em .5em;
}

/****  Grid  ****/
.ui.grid {
	margin-left: 0rem;
	margin-right: 0rem;
}

.ui.grid>.row {
	padding-bottom: 0;
	padding-top: 0.7rem;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
	padding-left: 0.5rem ;
	padding-right: 0;
}
/*******************/

/****  Forms  ****/
.ui.input input {
	width: auto!important;
}

.ui.form select {
	padding: .2em 0.3em;
}

.ui.selection.dropdown {
    min-width: auto;
}

.ui.form .fields {
	margin: 0 0 0;
}

option { color: black; }
/*******************/

*.error {
    color: #c5321a;
}

.infosBase, .infosBase::before, .infosBase::after, *.infosBase {
    font-family: 'Trebuchet MS', 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: rgb(97, 96, 128);
    width: 100%;
    background: #F7F9FA;
    padding: 5px;
    white-space: pre-wrap;
}


.accueil::before, .ordonnance::before, .histo::before, .lien::before {
    margin-right: 1rem;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;

}
.accueil::before {
    content: '\2302';
    font-size: 1.3rem;
    color: rgb(250, 200, 100);
}

.ordonnance::before {
    content: '\211E';
    color: rgb(38, 192, 90);
}

.histo::before {
    content: '\1F5D0';
    color: rgb(215, 226, 88);
}

.lien::before {
    content: '\1F517';
    background : rgb(81, 166, 192);
    background-clip: text; 
	-webkit-background-clip: text;
    color: transparent;
}



