
/****  General  ****/

body {
	background: rgb(0, 55, 80);
	font-family: Arial, Helvetica, sans-serif;	
}

a, a:not([href]):not([tabindex]), .ui.list .list>a.item, .ui.list>a.item {
	color:#72869b;
}

a:hover, a:not([href]):not([tabindex]):hover, 
.ui.list .list>a.item:hover, .ui.list>a.item:hover {
	cursor: pointer;
	color: inherit;
}

body, .ui.segment, .ui.segments .segment, .ui.modal, .ui.modal>.content {
	font-size: .9rem;
	line-height: 1.5rem;
}

.noborder {
    border-style: none;
    box-shadow: unset;
}

.ui.selection.dropdown .menu {
	min-width: max-content;
	border-top-width: inherit;
}


.ui.selection.dropdown .menu>.item, .ui.dropdown .menu>.item {
	padding: .4rem .7rem!important;
	font-size: inherit;
}

.ui.header.center, .ui.segment.center, *.center {
    width: 800px;
    max-width: 98%;
	 margin: auto;
}

.ui.header {
	border-bottom: 1px solid rgba(34,36,38,.15);
	padding: .75rem .5rem;
}

.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
	font-size: 1.42857143rem;
}

.ui.label {
	padding: .3em .5em;
}

.ui.list .list>.item, .ui.list>.item, ol.ui.list li, ul.ui.list li {
	line-height: inherit;
}

/*******************/


/****  Grid  ****/

.ui.grid {
	margin-left: 0rem;
	margin-right: 0rem;
}

.ui.grid>.row {
	padding-bottom: 0;
	padding-top: 0.7rem;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
	padding-left: 0.5rem ;
	padding-right: 0;
}
/*******************/


/****  Accordion  ****/

.ui.styled.accordion,
.ui.styled.accordion .accordion {
    box-shadow: -1px 0px 0rem 0 rgba(34, 36, 38, .5);
}

.ui.styled.accordion.noborder {
	border-style: none;
	box-shadow: unset;
}

.ui.styled.accordion .accordion .title,
.ui.styled.accordion .title {
    margin: 0.3rem 0rem;
    padding: 0rem 0rem;
}

.ui.styled.accordion .accordion .content,
.ui.styled.accordion .content {
    margin: .8rem 0 0 1.7rem;
    padding: 0rem 0rem;
}

.ui.accordion .accordion {
	margin: 0.4rem 0;
}

/*******************/


/****  Forms  ****/

.field:not([style]) .ui.input input {
	width: auto!important;
}

.field[style] .ui.input input {
	width: 100%;
}

.ui.form .inline.fields .field {
	padding: 0 .5rem 0 .5rem;
}

.ui.form select {
	padding: .2em 0.3em;
}

.ui.selection.dropdown {
    min-width: auto;
}

.ui.form .fields {
	margin: 0 0 0;
}

option { color: black; }

/*******************/


.modalNiveauNomenclature {
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
}

*.error {
    color: #c5321a;
}

*.entete {
	color: #2a649e;
}

.infosBase, .infosBase::before, .infosBase::after, *.infosBase {
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    width: 100%;
    background: #F7F9FA;
    padding: 5px;
    white-space: pre-wrap;
}


.accueil::before, .ordonnance::before, .histo::before, .lien::before {
    margin-right: 1rem;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;

}
.accueil::before {
    content: '\2302';
    font-size: 1.3rem;
    color: rgb(250, 200, 100);
}

.ordonnance::before {
    content: '\211E';
    color: rgb(38, 192, 90);
}

.histo::before {
    content: '\1F5D0';
    color: rgb(215, 226, 88);
}

.lien::before {
    content: '\1F517';
    background : rgb(81, 166, 192);
    background-clip: text; 
	-webkit-background-clip: text;
    color: transparent;
}



